.descp {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: BebasNeue;
}

.productosdest {
  color: white;
  text-align: center;
  font-family: BebasNeue;
  font-size: 30px;
  padding: 20px;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tarjeta .btn {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  font-family: BebasNeue;
}

.tarjeta__img {
  width: 200px;
  height: 200px;
  transition: 1s;
}

.tarjeta img:hover {
  transform: scale(1.1);
}

.tarjeta__titulo {
  text-align: center;
  font-family: BebasNeue;
}

footer {
  background-color: rgb(60, 60, 60);
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
}
footer .redesfo {
  margin: 10px;
}

main {
  background-color: rgb(0, 0, 0);
}

.formcont {
  width: 400px;
  justify-content: center;
  align-items: center;
}

.formpalab {
  padding: 15px;
}

.row {
  justify-content: center;
}

.productit {
  color: white;
  font-family: BebasNeue;
  text-align: center;
  padding: 20px;
}

.tarjetas-produc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.titpreg {
  color: white;
  text-align: center;
  font-family: BebasNeue;
  font-size: 40px;
}

.pregs {
  color: white;
  padding: 20px;
}
.pregs h3 {
  font-family: BebasNeue;
  font-size: 22px;
}
.pregs p {
  font-family: Figtree-VariableFont;
}

.tit-env {
  color: white;
  text-align: center;
  font-family: BebasNeue;
  font-size: 40px;
}

.tarjetas-env {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.tarjeta__img-env {
  height: 300px;
  width: 300px;
}

.tarjeta-env {
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-family: BebasNeue;
  text-align: center;
  font-size: 25px;
}

.maincontact {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: BebasNeue;
  height: 630px;
  padding: 20px;
  text-align: center;
}

.tarjeta {
  width: 250px;
  border: 2px solid rgb(134, 134, 134);
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-family: BebasNeue;
  text-align: center;
}

.tarjeta-product {
  width: 250px;
  height: 360px;
  border: 2px solid rgb(134, 134, 134);
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-family: BebasNeue;
  text-align: center;
}

.headi {
  background-image: url(../img/portada-vape2.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: BebasNeue;
  src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: FrancoisOne;
  src: url(../fonts/FrancoisOne-Regular.ttf);
}
@font-face {
  font-family: Neucha-Regular;
  src: url(../fonts/Neucha-Regular.ttf);
}
@font-face {
  font-family: Figtree-VariableFont;
  src: url(../fonts/Figtree-VariableFont_wght.ttf);
}
@font-face {
  font-family: Anton-Regular;
  src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: PatuaOne-Regular;
  src: url(../fonts/PatuaOne-Regular.ttf);
}/*# sourceMappingURL=style.css.map */