@font-face {
    font-family: BebasNeue ;
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family:FrancoisOne;
    src: url(../fonts/FrancoisOne-Regular.ttf);
}
@font-face {
    font-family:Neucha-Regular ;
    src: url(../fonts/Neucha-Regular.ttf);
}
@font-face {
    font-family: Figtree-VariableFont;
    src: url(../fonts/Figtree-VariableFont_wght.ttf);
}
@font-face {
    font-family:Anton-Regular ;
    src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
    font-family:PatuaOne-Regular ;
    src: url(../fonts/PatuaOne-Regular.ttf);
}